<!DOCTYPE html>
<html>
  <head>
    <title>The Khd Project</title>
    <style>
      h1 {
          font-size: 60px;
          font-family: arial;
          font-weight: normal;
          text-align: center;
          color: rgb(0,0,100)
      }
      h2 {
        text-align: center;
        color: rgb(0,0,160)
      }
      p {
        font-family: arial;
        text-align: left;
      }
      
    </style>
  </head>
  <body>
    
    <h1>WELCOME</h1>
    <img id="img1" src="https://khd-project--khadijamunir.repl.co/static/2023.jpg">
    <h2>About The Khd Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec vehicula nunc. Aenean dignissim diam a ligula feugiat, vel mollis odio elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut est purus, dignissim vitae egestas id, laoreet nec sapien. Phasellus maximus, velit et tristique eleifend, velit nulla luctus lectus, eu sagittis arcu magna ac eros. Curabitur eget bibendum urna. Sed vestibulum urna a facilisis sollicitudin. Curabitur condimentum ultricies mauris, sed tristique neque consequat at. Cras nisl diam, rhoncus id lorem nec, aliquet tempor sapien. Suspendisse est metus, commodo id vehicula a, bibendum cursus sem. Nunc consectetur volutpat nibh, non efficitur nulla blandit a. Curabitur sit amet lacus in nisi consectetur fringilla quis ut ligula. Nunc id eros nulla. Praesent semper bibendum erat. Ut accumsan sodales viverra.</p>
    <h2>Job Openings</h2>
    <p>TODO- Show the jobs here</p>
    <div style="text-align: center;">
    <button>Contact Us</button>
    </div>
  </body>


</html>
